<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="commercers" translate="label" sortOrder="10">
            <label>Commercers</label>
        </tab>
        <section id="auto_delete" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Auto Delete</label>
            <tab>commercers</tab>
            <resource>Commercers_AutoDelete::autodelete_config</resource>
            <group id="delte" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Auto Delete</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="set_date_delete_folder" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set day delete folder</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="set_size_delete_file" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set size delete file</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="time_run" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <label>Start Time</label>
                    <comment>
                        <![CDATA[
                    This will allow you to define schedule
<pre>
* * * * *
| | | | |
| | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
| | | +------ Month of the Year (range: 1-12)
| | +-------- Day of the Month  (range: 1-31)
| +---------- Hour              (range: 0-23)
+------------ Minute            (range: 0-59)
Example: 0 0 * * * Daily at midnight
</pre>
                    ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
